
/Stock_Ticker/.vs/Stock_Ticker/v14/**
/Stock_Ticker/.vs/config/applicationhost.config
=======
###################
# compiled source #
###################
*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo
###############
# Directories #
###############
Stock_Ticker/Stock_Ticker/bin
Stock_Ticker/Stock_Ticker/obj
Stock_Ticker/.vs
Stock_Ticker/Stock_Ticker/obj/Debug
# Include dlls if they’re in the NuGet packages directory
!/packages/*/lib/*.dll
!/packages/*/lib/*/*.dll
######################
# Logs and databases #
######################
*.log
*.sqlite