
@{
    ViewBag.Title = "Index";
}

<hr />
<p>This page will have a list of open games and the ability to create a new game.</p>
<br />
<div class="btn btn-default">@Html.ActionLink("PLAY","Play","Game")</div>